
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Medium.otf") format("opentype");
}

img {
  width: 100%;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Acumin-Pro, sans-serif;
  width: 90%;
  margin: 0 5%;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  display: inline-block;
    text-align: left;
    max-width: 620px;
}

h2 {
  font-size: 16px;
  line-height: 100%;
  font-weight: normal;
  line-height: 24px;
  max-width: 560px;
  display: inline-block;
}

h3 {
  font-size: 16px;
  line-height: 100%;
  font-weight: normal;
  line-height: 22px;
  max-width: 560px;
  display: inline-block;
}

p {
  font-size: 15px;
  line-height: 100%;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 20px;
  max-width: 520px;
  display: inline-block;
  margin-top: 15px;
}

a {
  font-size: 15px;
  line-height: 100%;
  margin: 0 6px;
  margin-top: 8px;
  text-decoration: none;
  color: #000;
  padding-bottom: 2px;
  border-bottom: solid 1px #000;
  display: inline-block;
}

div a {
  margin: 0;
  color: #aaa;
  border-bottom: solid 2px #eee;
  margin: 0 3px;
}

div a:hover {
  color: #777;
  border-bottom: solid 2px #eee;
}

div.content {
  float: left;
  width: 100%;
  text-align: center;
}

div.intro h1 img {
    max-width: 160px;
    width: 160px;
    margin-bottom: 40px;
    margin-top: 40px
}

div.intro h1 {
    text-align: left
}

div.intro h1 a {
  margin: 0;
  font-size: inherit;
  color: #aaa;
  border-bottom: solid 2px #eee;
    
    margin-left: 0;
    margin-right: 12px;
}

div.intro h1 a:hover {
  color: #777;
  border-bottom: solid 2px #eee;
}


div.row {
  margin: 0 0 200px 0;
  float: left;
  width: 100%;
  text-align: center;
}

div.row a {
  margin-bottom: 48px;
}

div.row img.border { border: solid 1px #d2d2d2; }
div.row img.personal-photo { max-width: 138px; margin-top: 20px;}
div.row img.three-twenty { max-width: 320px; }
div.row img.eleven-twenty { max-width: 1120px; }
div.row img.eleven-ninetysix { max-width: 1196px; }
div.row img.twelve-eighty { max-width: 1280px; }
div.row img.forteen-forty { max-width: 1440px; }
div.row img.iphone-x { max-width: 432px; }
div.row img.iphone-x-landscape { max-width: 864px; }
div.row img.iphone-five { max-width: 370px; }
div.row img.android-landscape { max-width: 801px; }

div.presentation .row {
  line-height: 100vh;
  margin-bottom: 160px;
}

div.presentation .row img {
  vertical-align: middle;
}

div.presentation .row.no-vh {
  line-height: 100%;
}

div.presentation .row.no-vh.first {
  margin-top: 40px;
}

div.presentation .row.no-vh img {
  max-height: none;
  object-fit: fill;
}

.content.index .row {
  display: none;
}

.content.index .row.live {
  display: block;
}

div.presentation.indiecampers .row {
  margin-bottom: 0;
}

@media (max-width: 960px){ 

  div.presentation {
    margin-bottom: 60px;
  }

  div.presentation .row {
    line-height: 100%;
    margin: 60px 0 0 0
  }
  
  div.presentation .row img {
    max-height: none;
    object-fit: fill;
  }

  .content.index div.row img.iphone-x { width: 42%; }
  .content.index div.row img.iphone-five { width: 42%; }

}

@media (max-width: 640px){ 

div.intro h1 {
  line-height: 150%;
  margin-bottom: 0;
    font-size: 16px
}


div a,
div.intro h1 a {
  transition: none !important;
}

}