
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Medium.otf") format("opentype");
}

img {
  width: 100%;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Acumin-Pro, sans-serif;
  width: 90%;
  margin: 0 5%;
}


h1 {
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
  display: inline-block;
    text-align: left;
    max-width: 546px;
}

h2 {
  font-size: 16px;
  line-height: 100%;
  font-weight: normal;
  line-height: 24px;
  max-width: 560px;
  display: inline-block;
}

h3 {
  font-size: 16px;
  line-height: 100%;
  font-weight: normal;
  line-height: 22px;
  max-width: 560px;
  display: inline-block;
}

p {
  font-size: 15px;
  line-height: 100%;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 20px;
  max-width: 520px;
  display: inline-block;
  margin-top: 15px;
}

a {
  font-size: 15px;
  line-height: 100%;
  margin: 0 6px;
  margin-top: 8px;
  text-decoration: none;
  color: #000;
  padding-bottom: 2px;
  border-bottom: solid 1px #000;
  display: inline-block;
}

div a {
  margin: 0;
  color: #000;
  border-bottom: solid 1px #000;
  margin: 0 3px;
}

div.content {
  float: left;
  width: 100%;
  text-align: center;
}

div.intro h1 img {
    width: 300px;
    margin-bottom: 32px;
    margin-top: 48px
}

div.intro h1 {
    text-align: left;
    font-size: 15px;
    line-height: 22px;
}

div.intro h1 a {
  margin: 0;
  font-size: inherit;
  color: #000;
  border-bottom: solid 1px #000;
    
    margin-left: 0;
    margin-right: 12px;
}


div.row {
  margin: 80px 0 120px 0;
  float: left;
  width: 100%;
  text-align: center;
}

div.row a {
  margin-bottom: 48px;
}

div.row img.border { border: solid 1px #d2d2d2; }
div.row img.personal-photo { max-width: 138px; margin-top: 20px;}
div.row img.three-twenty { max-width: 320px; }
div.row img.eleven-twenty { max-width: 1120px; }
div.row img.eleven-ninetysix { max-width: 1196px; }
div.row img.twelve-eighty { max-width: 1280px; }
div.row img.forteen-forty { max-width: 1440px; }
div.row img.iphone-x { max-width: 432px; }
div.row img.iphone-x-landscape { max-width: 864px; }
div.row img.iphone-five { max-width: 370px; }
div.row img.android-landscape { max-width: 801px; }

div.presentation .row {
  line-height: 100vh;
  margin-bottom: 160px;
}

div.presentation .row img {
  vertical-align: middle;
}

div.presentation .row.no-vh {
  line-height: 100%;
}

div.presentation .row.no-vh.first {
  margin-top: 40px;
}

div.presentation .row.no-vh img {
  max-height: none;
  object-fit: fill;
}

.content.index .row {
  display: none;
}



.content.index .row.live {
  display: block;
}

div.presentation.indiecampers .row {
  margin-bottom: 0;
}


.references {
    margin-top: 0px;
    margin-bottom: 80px;
}

.references .row {
    margin-bottom: 0;
}
.reference {
  display: inline-block;
  margin: 0;
  max-width: 720px;
  width: 100%;
  padding: 0px 0;
}

.reference > img {
  width: 96px; 
  background: none;
  float: left;
  margin: 0;
  min-height: 0;
}
.reference p {
  font-size: 15px;
  float: left;
  margin: 0;
  width: 100%;
    text-align: left
}
.reference .text {
  float: left;
  display: block;
  width: calc(100% - 180px);
  margin-left: 40px;
}
.reference .person {
  float: left;
  margin-top: 16px;
  width: 100%;
}

.reference .person a {
    float: left;
    margin: 0;
    border: none;
}
.reference .person img {
  width: 14px; 
  background: none;
  margin: 0;
  min-height: 0;
  float: left;
  margin-left: 8px;
  opacity: 0.3;
  min-height: 0;
}
.reference .person .name {
  float: left;
  font-size: 15px;
}
.reference .person .about {
  float: left;
  width: 100%;
  color: #A7A7A7;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
}

div.first h1 {
    line-height: 100vh;
    font-size: 19px;
}

div.first h1 br {
    display: none;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}

.nav a {
    border: none;
    padding: 32px 10px;
}

div .row.intro {
    margin-top: 0 !important;
}



@media (max-width: 960px){ 

  div.presentation {
    margin-bottom: 60px;
  }

  div.presentation .row {
    line-height: 100%;
    margin: 60px 0 0 0
  }
  
  div.presentation .row img {
    max-height: none;
    object-fit: fill;
  }

  .content.index div.row img.iphone-x { width: 42%; }
  .content.index div.row img.iphone-five { width: 42%; }
    
    
    div.first h1 {
    line-height: 150%;
    font-size: 21px;
        margin-top: 40px;
        width: 100%;
        display: block;
        float: left;
}
    
    div.first h1 br {
        display: inline-block;
    }
    
    .nav {
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}

.nav a {
    border: none;
    padding: 0;
    width: 90%;
    text-align: left;
    padding: 22px 5%;
    border-top: solid 1px #eee;
    background: #fff;
    font-size: 17px;
}

}

@media (max-width: 640px){ 

div.intro h1 {
  margin-bottom: 0;
}


div a,
div.intro h1 a {
  transition: none !important;
}
    

}
