
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: Acumin-Pro;
  font-weight: bold;
  src: url("../public/font/AcuminPro-Bold.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Acumin-Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.menu *,
img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 160px;
  padding: 20px;
  font-weight: bold;
  color: #272727;
}

.menu .exit {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 20px;
}

.menu .top {
  display: block;
  float: left;
  width: 100%;
}

.menu .top .portrait {
  display: none;
  float: left;
  margin-bottom: 16px;
  margin-left: -20px;
  width: 100%;
}

.menu .top .portrait img {
  width: 160px;
  display: none;
}

.menu .top .name {
  font-size: 16px;
}

.menu .top .title {
  font-size: 14px;
  color: #A7A7A7;
  margin-top: 2px;
}

.menu .links {
  display: block;
  float: left;
  width: 100%;
  margin-top: 24px;
}

.menu .links div {
  color: #A7A7A7;
  line-height: 20px;
  cursor: pointer;
  display: block;
  float: left;
  width: 100%;
  font-size: 14px;
}

.menu .links div:hover,
.menu .links div.active {
  color: #272727;
}


.content {
  width: calc(100% - 160px);
  float: right;
  margin: 40px 0;
}

.content .row {
  display: block;
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
  float: left;
}

.content .row .container {
  max-width: 1440px;
  width: 100%;
  display: inline-block;
}

.content.iphone-5 .row .container,
.content .row.iphone-5 .container {
  max-width: 1200px;
}

.content h1 {
  width: 100%;
  max-width: 680px;
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 150%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.content p {
  width: 100%;
  max-width: 680px;
  font-size: 18px;
  line-height: 140%;
  display: inline-block;
  text-align: left;
}

.content img {
  width: 100%;
  margin-top: 40px;
}

.businesscards img {
  margin: 60px 10px 30px 10px;
  width: calc(50% - 20px);
}

img.border {
  box-shadow: 0 0 0 1px #f1f1f1;
}

.content .iphone-x,
.content .three-col {
  width: 31.3%;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  text-align: center;
  float: left;
}

.iphone-5 img {
  max-width: 370px;
}

.iphone-x img {
  max-width: 432px;
}

.iphone-x-landscape {
  max-width: 864px;
}

img.two-eighty {
  max-width: 280px;
}

img.three-twenty {
  max-width: 320px;
}

img.five-thirty {
  max-width: 530px;
}

img.eight-hundred {
  max-width: 801px;
}

img.eleven-twenty {
  max-width: 1120px;
}

img.eleven-ninetysix {
  max-width: 1196px;
}

img.twelve-eighty {
  max-width: 1280px;
}

img.forteen-forty {
  max-width: 1440px;
}

@media (max-width: 720px){

  .content {
    width: 100%;
  }

  .menu {
    padding: 0;
    position: relative;
    width: 100%;
  }

  .menu .exit {
    display: block;
  }

  .menu .top,
  .menu .links {
    display: none;
  }

  .landing .menu .exit {
    display: none;
  }

  .landing .menu .top,
  .landing .menu .links {
    display: block;
  }

  .landing .menu {
    display: block;
    position: relative;
    padding-bottom: 40px;
  }

  .landing .menu .top {
    padding: 20px 0 0 20px;
  }

  .landing .menu .links {
    border-bottom: solid 1px #f0f0f0;
  }

  .landing .menu .links div {
    line-height: 56px;
    border-top: solid 1px #f0f0f0;
    width: calc(100%);
    padding: 0 20px;
    color: #272727;
  }

}

.producthunt {
  width: 100%;
}