
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: Acumin-Pro;
  font-weight: bold;
  src: url("../public/font/AcuminPro-Bold.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Acumin-Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.menu *,
img,
.button  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img {
  min-height: 80px;
  background-image: url(../public/loading.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 160px;
  padding: 20px;
  font-weight: bold;
  color: #272727;
}

.exit {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 20px;
  font-weight: bold;
}

.landing .exit {
  display: none;
}

.menu .top {
  display: block;
  float: left;
  width: 100%;
}

.menu .top .portrait {
  display: none;
  float: left;
  margin-bottom: 16px;
  margin-left: -20px;
  width: 100%;
}

.menu .top .portrait img {
  width: 160px;
  display: none;
}

.menu .top .name {
  font-size: 16px;
}

.menu .top .title {
  font-size: 14px;
  color: #A7A7A7;
  margin-top: 2px;
}

.menu .links {
  display: block;
  float: left;
  width: 100%;
  margin-top: 24px;
}

.menu .links div {
  color: #A7A7A7;
  padding: 2px 0;
  cursor: pointer;
  display: block;
  float: left;
  width: 100%;
  font-size: 14px;
}

.menu .links div:hover,
.menu .links div.active {
  color: #272727;
}

.menu .links div .name {
  float: left;
  width: 100%;
  line-height: 130%;
  color: inherit;
}

.menu .links div .description {
  display: none;
  float: left;
  line-height: 130%;
  color: #A7A7A7;
  font-size: 14px;
  margin-top: 2px;
}

.content {
  width: calc(100% - 160px);
  float: right;
  margin: 40px 0;
}

.content .row {
  display: block;
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
  float: left;
}

.content .row .container {
  max-width: 1440px;
  width: 100%;
  display: inline-block;
}

.content.iphone-5 .row .container,
.content .row.iphone-5 .container {
  max-width: 1200px;
}

.content h1 {
  width: 100%;
  max-width: 680px;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 130%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-top: 32px;
}

.content h2 {
  width: 100%;
  max-width: 680px;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 120%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  color: #A7A7A7;
  margin: 0;
  margin-bottom: 32px;
}

.content p {
  width: 100%;
  max-width: 680px;
  font-size: 18px;
  line-height: 140%;
  display: inline-block;
  text-align: left;
}

.content img {
  width: 100%;
  margin-top: 40px;
}

.content .caption {
  text-align: center;
  max-width: 480px;
  display: inline-block;
  line-height: 140%;
  margin-top: 12px;
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 40px;
}

.businesscards img {
  margin: 60px 10px 30px 10px;
  width: calc(50% - 20px);
}

img.border {
  box-shadow: 0 0 0 1px #f1f1f1;
}

.content .iphone-x,
.content .three-col {
  width: 31.3%;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  text-align: center;
  float: left;
}

.iphone-5 img {
  max-width: 370px;
}

.iphone-x img {
  max-width: 432px;
}

.iphone-x-landscape {
  max-width: 864px;
}

img.two-eighty {
  max-width: 280px;
}

img.three-twenty {
  max-width: 320px;
}

img.five-thirty {
  max-width: 530px;
}

img.eight-hundred {
  max-width: 801px;
}

img.eleven-twenty {
  max-width: 1120px;
}

img.eleven-ninetysix {
  max-width: 1196px;
}

img.twelve-eighty {
  max-width: 1280px;
}

img.forteen-forty {
  max-width: 1440px;
}

.reference {
  display: inline-block;
  margin: 0;
  max-width: 800px;
  width: 100%;
  border-top: solid 1px #f0f0f0;
  padding: 40px 0;
}

.reference > img {
  width: 96px; 
  background: none;
  float: left;
  margin: 0;
  border-radius: 3px;
  min-height: 0;
}
.reference p {
  font-size: 19px;
  float: left;
  margin: 0;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.reference .text {
  float: left;
  display: block;
  width: calc(100% - 180px);
  margin-left: 40px;
}
.reference .person {
  float: left;
  margin-top: 16px;
  width: 100%;
}
.reference .person img {
  width: 14px; 
  background: none;
  margin: 0;
  min-height: 0;
  float: left;
  margin-left: 8px;
  opacity: 0.3;
  min-height: 0;
}
.reference .person .name {
  float: left;
  font-weight: bold;
  font-size: 16px;
}
.reference .person .about {
  float: left;
  width: 100%;
  font-weight: bold;
  color: #A7A7A7;
  font-size: 14px;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0;
}

.about {
  text-align: left;
  display: block;
  margin: 0 auto;
  max-width: 680px;
  margin-bottom: 60px;
}

.about p {
  text-align: left;
  font-size: 16px;
}

.about img {
  background: none;
  max-width: 300px;
  margin-bottom: 32px;
  margin-top: 0;
  min-height: 0;
}

.about .about-row {
  margin-bottom: 32px;
}

.button {
  box-shadow: 0 0 0 1px #e6e6e6;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 13px 0 11px 0;
  cursor: pointer;
  margin-bottom: 11px;
  border-radius: 3px;
}

.button:active {
  background: #fcfcfc;
}

@media (max-width: 720px){

  .content {
    width: 100%;
  }
  
  .content h1 {
    font-size: 24px;
    letter-spacing: -1px;
    text-align: left;
  }

  .content h2 {
    font-size: 18px;
    letter-spacing: 0;
    text-align: left;
  }

  .content p {
    font-size: 16px;
  }

  .menu {
    padding: 0;
    position: relative;
    width: 100%;
  }

  .menu .exit {
    display: block;
  }

  .menu .top,
  .menu .links {
    display: none;
  }

  .landing .menu .exit {
    display: none;
  }

  .landing .menu .top,
  .landing .menu .links {
    display: block;
  }

  .landing .menu {
    display: block;
    position: relative;
    padding-bottom: 40px;
  }

  .landing .menu .top {
    padding: 20px 0 0 20px;
  }

  .landing .menu .links {
    border-bottom: solid 1px #f0f0f0;
  }

  .landing .menu .links div {
    line-height: 56px;
    border-top: solid 1px #f0f0f0;
    width: calc(100%);
    padding: 12px 20px;
    color: #272727;
    transition: background 0.2s;
  }

.menu .links div div.active {
  background: #f9f9f9;
}

  .menu .links div .description {
    display: block;
  }

  .reference .text {
    float: left;
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-top: 32px;
  }

  .content .caption {
    font-size: 14px;
  }

  .about img {
    max-width: 240px;
    margin-bottom: 32px;
    margin-top: 24px;
  }

}

.producthunt {
  width: 100%;
}