
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: Acumin-Pro;
  font-weight: bold;
  src: url("../public/font/AcuminPro-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Acumin-Pro, sans-serif;
    background: #fff;
    color: #A9ABAC;
}

.menu *,
img,
.button  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div {
  float: left;
  display: block;
}

.font-300-bold {
  font-family: Acumin-Pro-Bold, sans-serif; 
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.font-200-bold {
  font-family: Acumin-Pro-Bold, sans-serif; 
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 24px;
}

.font-100 {
  font-family: Acumin-Pro, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.me {
  position: fixed;
  left: 0;
  left: 24px;
  top: 24px;
  width: 224px;
}

.me .icons {
  margin-top: 10px;
}

.me .icons > div {
  margin-right: 11px;
  cursor: pointer;
}

.me .icons img {
  opacity: 0.4;
  transition: 0.2s;
}

.me .icons img:hover {
  opacity: 0.6;
}

.me > div > div {
  float: left;
  display: block;
  width: 224px;
}

.work {
  position: fixed;
  left: 24px;
  bottom: 24px;
  width: 224px;
}

.work > div {
  float: left;
  display: block;
  width: 224px;
}

.work .title {
  margin-bottom: 8px;
}

.work .arrows {
  margin-top: 20px;
}

.work .arrows a {
    float: left;
}

.work .arrows div {
  margin-right: 6px;
}

.work .arrows div.inactive img {
  opacity: 0.2;
  cursor: default;
}

.work .arrows div img {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.2s;
}

.work .arrows div img:hover {
  opacity: 0.6;
}

.work .arrows div.inactive img:hover {
  opacity: 0.2;
}

.arrows-mobile {
  background: #000000;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: none;
}

.arrows-mobile div {
  display: inline-block !important;
    float: none !important;
}


.arrows-mobile > a {
  float: left;
  width: 50%;
  text-align: center;
  height: 64px;
}

.arrows-mobile div img {
  margin-top: 20px;
  opacity: 0.6;
}

.arrows-mobile div.inactive img {
  opacity: 0.2;
  cursor: default;
}

.presentation {
  float: left;
  position: absolute;
  width: calc(100% - 324px);
  margin-left: 284px;
  padding-bottom: 40px;
}

.presentation div {
  width: 100%;
  text-align: center;
  float: left;
}

.presentation > div {
  margin-top: 40px;
  float: left;
  width: 100%;
}

.presentation > div img {
  width: 100%;
border-radius: 5px;
}

.twelve-eighty img {
  max-width: 1024px !important;
}

.three-twenty {
   
}

.three-twenty img {
  width: 320px !important;
    max-width: 100% !important;
    text-align: center;
}

.iphone-five img {
  max-width: 30%;
    margin: 0 1%;
}

.android-landscape img {
  max-width: 801px;
    margin: 0 1%;
}

@media (max-width: 800px){
    
    .presentation {
  position: relative !important;
}

  .arrows-mobile {
    display: block;
  }

.me {
  position: relative;
  width: calc(100% - 40px);
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}

.me > div {
  width: 100%;
  max-width: 380px;
  display: inline-block;
  text-align: left;
  float: none;
  position: relative;
} 

.me > div > div {
  float: left;
  display: block;
  width: 240px;
}

.me .icons {
  float: right;
  width: auto;
  margin-top: 0;
  top: 0;
  position: absolute;
  right: 0;
}

.me .icons div {
  margin-left: 11px;
}

.work {
  position: relative;
  width: calc(100% - 40px);
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 60px;
  text-align: center;
}

.work > div {
  width: 100%;
  max-width: 380px;
  display: inline-block;
  text-align: left;
  float: none;
}

.work > div > div {
  width: 100%;
  display: inline-block;
  text-align: left;
  float: none;
}

.work .arrows {
  display: none;
}

.presentation {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 80px;
}

}









.about {
    background: #fff;
    display: block;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    position: absolute
}

.about-width {
    display: inline-block;
    max-width: 576px;
    width: 90%;
    float: none;
}

.about .intro {
    width: 100%;
    margin-bottom: 48px;
}

.about .intro .portrait img {
    width: 140px;
    border-radius: 999px;
    margin: 32px 0;
}

.about .intro .text {
    font-size: 20px;
    color: #101111;
    text-align: left;
    line-height: 30px;
}

.about .cta {
    margin-top: 32px;
}

.about .button {
    background: #101111;
    height: 42px;
    color: #fff;
    margin-right: 8px;
    min-width: 42px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

.about .button.text-only {
    padding: 2px 20px 0 20px;
    line-height: 40px;
    height: 40px
}

.about .button.email img {
    margin-top: 11px;
}

.about .button.linkedin img {
    margin-top: 13px;
}

.about .reference {
    float: left;
    width: 100%;
    border-top: solid 1px #eee;
    padding: 42px 0;
}

.about .reference .text {
    font-size: 20px;
    color: #101111;
    text-align: left;
    line-height: 30px;
    margin-bottom: 24px;
}

.about .reference .text .when {
    font-size: 16px;
    color: #7D7F82;
    line-height: 31px;
}

.about .reference .portrait img {
    width: 140px;
    border-radius: 999px;
}

.about .reference .portrait {
    float: left;
    width: 140px;
}

.about .reference .info {
    float: left;
    width: calc(100% - 170px);
    margin-left: 24px;
}

.about .reference .info .name {
    float: left;
    width: 100%;
    font-weight: bold;
    color: #101111;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin-top: 14px;
}

.about .reference .info .name a {
    margin-bottom: -4px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: bottom;
}

.about .reference .info .role {
    float: left;
    width: 100%;
    color: #101111;
    text-align: left;
    font-size: 16px;
    margin-top: 6px;
}

.about .reference .info .description {
    float: left;
    width: 100%;
    color: #7D7F82;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}