
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/AcuminPro-Medium.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Acumin-Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #09090F;
    color: #ffffff;
    width: 94%;
    margin: 0 3%;
}

*  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  float: right;
}

.content link img {
  cursor: pointer;
}

.content .row {
  display: block;
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 240px;
  margin-top: 80px;
}

.content .row.intro {
  display: block;
  float: left;
  width: 100%;
  height: 100vh;
  margin-bottom: 80px;
}

.content .row.intro > div {
  top: 50vh;
  left: 0;
  margin-top: -46px;
  position: absolute;
  width: 100%;
}

.content .row.intro .name {
  font-size: 20px;
}

.content .row.intro .about {
  margin-top: 4px;
  font-size: 18px;;
}

.content .row .icons-container {
  width: 100%;
}

.content .row .icons {
  margin-top: 8px;
  text-align: center;
  display: inline-block;
}

.content .row .icons a {
  display: inline-block;
  padding: 10px;
  height: 26px;
  float: left;
}

.content .row .icons .linkedin img {
  width: 26px;
  height: 26px;
  display: inline-block;
}

.content .row .icons .message img {
  width: 18px;
  height: 18px;
  margin-top: -2px;
  display: inline-block;
  padding: 6px 0;
}

.content.iphone-5 .row .container,
.content .row.iphone-5 .container {
  max-width: 1200px;
}


.content img {
  width: 100%;
}

.content .caption {
  text-align: center;
  max-width: 480px;
  display: inline-block;
  line-height: 140%;
  margin-top: 12px;
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 40px;
}

img.border {
  box-shadow: 0 0 0 1px #f1f1f1;
}

.content .iphone-x,
.content .three-col {
  width: 31.3%;
  margin-left: 1%;
  margin-right: 1%;
  display: block;
  text-align: center;
  float: left;
}

.iphone-5 img {
  max-width: 370px;
}

.iphone-x img {
  max-width: 432px;
}

.iphone-x-landscape {
  max-width: 864px;
}

img.two-eighty {
  max-width: 280px;
}

img.three-twenty {
  max-width: 320px;
}

img.five-thirty {
  max-width: 530px;
}

img.eight-hundred {
  max-width: 801px;
}

img.eleven-twenty {
  max-width: 1120px;
}

img.eleven-ninetysix {
  max-width: 1196px;
}

img.twelve-eighty {
  max-width: 1280px;
}

img.forteen-forty {
  max-width: 1440px;
}


@media (max-width: 960px){

  body {
    width: 92%;
    margin: 0 4%;
  }

  .content {
    margin-bottom: 160px;
  }

  .content .row {
    height: auto;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .content .row.intro {
    height: auto;
    margin-bottom: 0;
  }

  .content .row.intro > div {
    margin: 40px 0 32px 0;
    top: 0;
    position: relative;
    width: 100%;
  }

}
