

@font-face {
    font-family: Acumin-Pro;
    font-weight: 400;
    src: url("../public/font/AcuminPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Acumin-Pro;
    font-weight: 600;
    src: url("../public/font/AcuminPro-Regular.otf") format("opentype");
}

* {
    font-family: Acumin-Pro, sans-serif;
    color: #191A1D;
    margin: 0;
}

a {
    color: inherit;
}

body {
    text-align: center;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.contact {
    float: right;
}

.contact a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 15px 0 7px 0;
}

.contact a img {
    display: block;
    width: 16px;
    float: left;
    margin-right: 8px;
    margin-top: -2px;
}

.contact-button {
    text-decoration: none;
    font-size: 13px;
    display: block;
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
    z-index: 2;
    border-bottom: solid 2px #ccc;
    padding: 0 1px 1px 1px;
}

.contact-button:hover {
    border-bottom: solid 2px #aaa;
}

.content {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.portfolio .col {
    width: 380px;
    float: left;
    margin: 0 20px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.section.portfolio {
    vertical-align: middle;
}

.portfolio .category {
    display: block;
    float: left;
    width: 100%;
    margin: 11px 0;
    border-bottom: solid 1px #eee;
}

.portfolio .intro {
    font-size: 17px;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.work-thumbnail {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;
    border-top: solid 1px #eee;
    cursor: pointer;
    padding: 5px 0 2px 0;
}

.work-thumbnail:hover {
    background-color: #f9f9f9;
}

.work-thumbnail .title {
    font-size: 15px;
    text-align: left;
    font-weight: 600;
    float: left;
    width: 120px;
    margin-left: 8px;
}

.work-thumbnail .description {
    font-size: 15px;
    text-align: left;
    display: block;
    font-weight: 500;
    float: left;
    color: #8E9098;
}

.story-page {margin: 90px 0}
.story-page img {width: 100%; margin-bottom: 48px; box-shadow: 0 0 0 2px #eee;}
img.typen {max-width: 1196px;}
img.three-twenty {max-width: 320px; box-shadow: none !important;}
img.typen-customization {max-width: 800px;}
img.typen-focus {max-width: 800px;}
img.five-thirty {max-width: 530px; box-shadow: 0 0 5px 2px #eee !important;}
img.six-thirty {max-width: 630px; box-shadow: 0 0 5px 2px #eee !important; border-radius: 40px;}
img.nine-sixty {max-width: 960px;}
img.eleven-twenty {max-width: 1120px;}
img.twelve-eighty {max-width: 1280px;}
img.forteen-forty {max-width: 1440px;}
.iphonex-portrait {width: 30%; margin: 0px 1% 60px 1%; display: inline-block; }
img.iphonex-portrait {max-width: 432px; box-shadow: none !important;}
.iphone6-portrait {width: 30%; margin: 30px 1% 30px 1%; display: inline-block; }
img.iphone6-portrait {max-width: 370px; box-shadow: none !important;}
img.android-landscape {max-width: 801px; box-shadow: none !important;}
img.typen-logo {max-width: 88px; box-shadow: none !important;}
img.typen-ad {max-width: 300px; box-shadow: none !important;}
img.brandedme-logo {max-width: 500px; box-shadow: none !important;}
img.brandedme-businesscard {max-width: 280px; box-shadow: 0 0 5px 2px #eee !important;}

.top-bar {position: absolute; width: 100%; left: 0; top: 0; z-index: 2; background: #fff; display: block; text-align: center;}
.story-name {padding: 10px 0 8px 0; font-weight: 600; font-size: 15px;}
.back {cursor: pointer;float: left; font-size: 15px; padding: 14px 0 12px 0; background: #fff; display: block; text-align: center; position: fixed; top: 0; left: 0; width: 100%; box-shadow: 0 1px 0 rgba(0,0,0,0.06);}

.top-menu {position: fixed; top: 0; left: 0; width: 100%; z-index: 3; background: #fff; box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */}
.top-menu-container {max-width: 800px; display: block; margin: 0 auto;     width: calc(100% - 40px);}
.pages .active {border-bottom: solid 4px #191A1D;}
.pages span {cursor: pointer; margin-right: 16px; font-size: 15px;  display: block; float: left; padding: 15px 0 7px 0; border-bottom: solid 4px transparent;}

.work-experience-row {
    display: block;
    float: left;
    text-align: left;
    border-top: solid 1px #eee;
    padding: 20px 0 16px 0;
    width: 100%;
}

.work-experience-row:last-child {
    border-bottom: solid 1px #eee;
}

.work-experience-row .type {float: left;  display: block; width: calc(100% - 680px); font-size: 15px; margin-top: 1px}
.work-experience-row .type.blue span {color: #6890A7;}
.work-experience-row .type.green span {color: #4EAC79;}
.work-experience-row .info {float: left; width: calc(100% - 120px);}
.work-experience-row .info .meta {float: left; width: 100%; font-size: 15px;}
.work-experience-row .info .meta .name {float: left; font-size: 17px;}
.work-experience-row .info .meta .time-place {float: right; margin-top: 1px;}
.work-experience-row .info .meta .time-place .time .duration {margin-right: 10px; float: left; width: 80px; text-align: left;}
.work-experience-row .info .meta .time-place .time .period {float: left; width: 160px;}
.work-experience-row .info .meta .time-place > div {float: left;}
.work-experience-row .info .meta .time-place .place {color: #8E9098; width: 150px; margin-left: 10px;}
.work-experience-row .info .description {color: #8E9098; float: left; margin-top: 10px; display: block; width: 560px;}
.work-experience-row .info .description span {color: #8E9098; float: left; font-size: 15px; line-height: 135%;}

.content-about {
    width: 100%;
    float: left;
    display: block;
  height: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
}


.content-about .container {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.section.intro {
    margin-bottom: 60px;
    display: block;
    float: left;
}

.section.intro .text {
    float: left;
    display: block;
    text-align: left;
    width: calc(100% - 200px);
}

.section.intro .image {
    float: right;
    display: block;
    text-align: right;
    width: calc(100% - 600px);
    margin-top: 8px;
}

.section.intro h1 {font-size: 24px; font-weight: 400; margin-bottom: 32px; line-height: 130%;}
.section.intro p {font-size: 17px; line-height: 140%;}

@media (max-width: 800px){
 
    .content {
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        display: block;
      justify-content: left;
      align-items: center;
      position: static;
      height: auto;
      margin-top: 48px;
    }

    .portfolio {
        margin-top: 20px;
    }

    .portfolio .col {
        width: 100%;
        margin: 0;
    }

    .portfolio .category {
        margin: 20px 0;
        display: block;
        float: left;
    }

    .portfolio .col .intro {
        margin-left: 0;
        font-size: 17px;
    }

    .work-thumbnail .title {
        width: 100%;
        margin-left: 0;
        font-size: 15px;
    }
    
    .work-thumbnail {
        padding: 11px 0 8px 0;
    }


    .work-experience-row .type,
    .work-experience-row .info .meta .name,
    .work-experience-row .info,
    .work-experience-row .info .description {
        width: 100%;
        margin-bottom: 4px;
    }

    .work-experience-row .info .meta .time-place {float: left;}
    .work-experience-row .info .meta .time-place .time {margin-right: 8px;}
    .work-experience-row .info .meta .time-place .time .period,
    .work-experience-row .info .meta .time-place .time .duration {width: auto;}
    .work-experience-row .info .meta .time-place .place {width: 100%; margin-left: 0; display: block; float: left; margin-top: 2px;}

    .section.intro .image {float: left; display: block; width: 100%; text-align: left;}
    .section.intro .text {width: 100%; float: right;}
    .section.intro h1 {margin-top: 32px; font-size: 19px; line-height: 27px;}
    .section.intro h1 br {display: none;}
    .section.intro p {font-size: 15px;}


    .content-about {margin: 80px 0;}
}