
@font-face {
  font-family: Acumin-Pro;
  src: url("../public/font/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: Acumin-Pro;
  font-weight: bold;
  src: url("../public/font/Gotham-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
textarea {
  padding: 0;
  margin: 0;
  font-family: Acumin-Pro, sans-serif;
    background: #fff;
    color: #000;
}

a,
img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
    padding-bottom: 120px;
    float: left;
    width: 100%;
}

.work-intro {
    margin: 0 0 80px 0;
    float: left;
    width: 100%;
}

.work-intro .text-200 {
    padding-top: 0;
}

.width {
    float: left;
    width: 90%;
    margin: 0 5%;
    text-align: center;
}

.nav {
    margin: 0 auto;
    max-width: 620px;
    text-align: left;
}

.nav a {
    padding: 20px 16px 10px 0;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
}

.nav a.selected {
    color: #000;
}

.text-100 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
}

.text-200 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -0.7px;
    margin-top: 80px;
}

.text-300 {
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    letter-spacing: -0.7px;
    margin-top: 80px;
}

.text-400 {
    font-size: 44px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: -1.2px;
    margin-top: 80px;
}

.text-500 {
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 80px;
}

.text {
    max-width: 620px;
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.text a {
    border-bottom: solid 1px #000;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.image {
    text-align: center;
    margin: 64px 0 0 0;
}

.image img {
    width: 100%;
}

img.twelve-eighty {
    max-width: 1280px;
}

img.eleven-twenty {
    max-width: 1120px;
}

img.nine-sixty {
    max-width: 960px;
}

img.six-hundred {
    max-width: 600px;
}

img.border {
    border: solid 1px #dedede;
}

input {
    font-size: 16px;
    line-height: 26px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #dedede;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 6px;
}

textarea {
    font-size: 16px;
    line-height: 26px;
    height: 256px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #dedede;
    outline: none;
    padding: 4px 10px;
    box-sizing: border-box;
    margin-top: 6px;
}

button {
    font-size: 16px;
    line-height: 26px;
    height: 42px;
    width: auto;
    border-radius: 5px;
    border: solid 1px #000;
    outline: none;
    padding: 0 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #fff;
    background: #000;
    cursor: pointer;
    margin-top: 12px;
}

iframe {
    width: 100%;
    margin-top: 40px;
}



@media (max-width: 660px){
    
    
    
.nav a {
    padding: 20px 16px 10px 0;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
}
    
.text-100 {
    font-size: 14px;
    line-height: 24px;
    margin-top: 8px;
}

.text-200 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0px;
    margin-top: 40px;
}

.text-300 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-top: 40px;
}

.text-400 {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 40px;
}

.text-500 {
    font-size: 40px;
    line-height: 54px;
    font-weight: bold;
    letter-spacing: -1.5px;
    margin-top: 40px;
}
    
    .image {
    text-align: center;
    margin: 32px 0 0 0;
}
    
}