

@font-face {
    font-family: Acumin-Pro;
    font-weight: 400;
    src: url("../public/font/AcuminPro-Medium.otf") format("opentype");
}

@font-face {
    font-family: Acumin-Pro;
    font-weight: 600;
    src: url("../public/font/AcuminPro-Bold.otf") format("opentype");
}

* {
    font-family: Acumin-Pro, sans-serif;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
    color: inherit;
}

body {
    text-align: center;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.contact-button {
    text-decoration: none;
    font-size: 15px;
    display: block;
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
    z-index: 2;
    border-bottom: solid 2px #ccc;
    padding: 0 1px 1px 1px;
}

.contact-button:hover {
    border-bottom: solid 2px #aaa;
}

.content {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.portfolio .col {
    width: 320px;
    float: left;
    margin: 0 20px;
}

.section.portfolio {
    vertical-align: middle;
}

.portfolio .category {
    display: block;
    float: left;
    width: 100%;
    margin: 11px 0;
    border-bottom: solid 1px #eee;
}

.portfolio .intro {
    font-size: 15px;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.work-thumbnail {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;
    border-top: solid 1px #eee;
    cursor: pointer;
    padding: 5px 0 2px 0;
}

.work-thumbnail:hover {
    background-color: #f9f9f9;
}

.work-thumbnail .title {
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    float: left;
    width: 96px;
    margin-left: 8px;
}

.work-thumbnail .description {
    font-size: 13px;
    text-align: left;
    display: block;
    font-weight: 500;
    float: left;
}

.story-page {margin: 90px 0}
.story-page img {width: 100%; margin-bottom: 48px; box-shadow: 0 0 0 2px #eee;}
img.typen {max-width: 1196px;}
img.three-twenty {max-width: 320px; box-shadow: none !important;}
img.typen-customization {max-width: 800px;}
img.typen-focus {max-width: 800px;}
img.five-thirty {max-width: 530px; box-shadow: 0 0 5px 2px #eee !important;}
img.six-thirty {max-width: 630px; box-shadow: 0 0 5px 2px #eee !important; border-radius: 40px;}
img.nine-sixty {max-width: 960px;}
img.eleven-twenty {max-width: 1120px;}
img.twelve-eighty {max-width: 1280px;}
img.forteen-forty {max-width: 1440px;}
.iphonex-portrait {width: 30%; margin: 0px 1% 60px 1%; display: inline-block; }
img.iphonex-portrait {max-width: 432px; box-shadow: none !important;}
.iphone6-portrait {width: 30%; margin: 30px 1% 30px 1%; display: inline-block; }
img.iphone6-portrait {max-width: 370px; box-shadow: none !important;}
img.android-landscape {max-width: 801px; box-shadow: none !important;}
img.typen-logo {max-width: 88px; box-shadow: none !important;}
img.typen-ad {max-width: 300px; box-shadow: none !important;}
img.brandedme-logo {max-width: 500px; box-shadow: none !important;}
img.brandedme-businesscard {max-width: 280px; box-shadow: 0 0 5px 2px #eee !important;}

.top-bar {position: absolute; width: 100%; left: 0; top: 0; z-index: 2; background: #fff; display: block; text-align: center;}
.story-name {padding: 10px 0 8px 0; font-weight: 600; font-size: 15px;}
.back {cursor: pointer;float: left; padding: 18px; font-size: 15px;}


@media (max-width: 800px){
 
    .content {
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        display: block;
      justify-content: left;
      align-items: center;
      position: static;
      height: auto;
      margin-top: 48px;
    }

    .portfolio {
        margin-top: 20px;
    }

    .portfolio .col {
        width: 100%;
        margin: 0;
    }

    .portfolio .category {
        margin: 20px 0;
        display: block;
        float: left;
    }

    .portfolio .col .intro {
        margin-left: 0;
        font-size: 17px;
    }

    .work-thumbnail .title {
        width: 100%;
        margin-left: 0;
        font-size: 15px;
    }
    
    .work-thumbnail {
        padding: 11px 0 8px 0;
    }

}