
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #fff;
    font-family: sans-serif;
}

.login {
    color: #fff;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -40px;
}

.login .field {
    color: #000;
    background: #fff;
    border: none;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    padding: 12px 16px;
    font-size: 18px;
    width: 140px;
}

.login .field:focus {
    outline: none;
}

.login .button {
    color: #000;
    background: #fff;
    border: none;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    padding: 12px 16px;
    font-size: 18px;
    width: 80px;
    cursor: pointer;
}

.login .button:focus {
    outline: none;
}

.login .contact a {
    color: #aaa;
    font-size: 14px;
    margin-top: 16px;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: solid 1px #eee;
}

.arrow-left {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -56px;
    padding: 28px 24px;
    cursor: pointer;
    opacity: 0.6;
}

.arrow-left img {
    width: 28px;
}

.arrow-left:hover {
    opacity: 1;
}


.arrow-right {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -56px;
    padding: 28px 24px;
    cursor: pointer;
    opacity: 0.6;
}

.arrow-right img {
    width: 28px;
}

.arrow-right:hover {
    opacity: 1;
}

.page {
    padding: 40px 0 160px 0;
    display: block;
    width: 100%;
    float: left;
}

.page.teamscope {
    background: #E9EAED;
}

.page.stacker {
    background: #fff;
}

.page.stacker img {
    box-shadow: none;
}

h1 {
    font-size: 34px;
    text-align: center;
    font-family: "Plantagenet Cherokee";
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: "Plantagenet Cherokee";
}

p {
    font-size: 14px;
    line-height: 175%;
    text-align: center;
}

.section {
    float: left;
    width: 100%;
    text-align: center;
}

.section .content {
    display: inline-block;
    width: 80%;
    text-align: center;
}

.section .content.text {
    max-width: 512px;
}

.content img.photo {
    max-width: 640px;
    border: solid 10px #fff;
}

.content img {
    width: 100%;
    max-width: 920px;
    box-shadow: 0 0 48px rgba(0,0,0,0.14);
    margin-bottom: 48px;
    display: inline-block;
}