
* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 19px;
  font-weight: normal;
  line-height: 25px;
}

h2 {
  font-size: 15px;
  line-height: 100%;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 12px;
}

a {
  font-size: 13px;
  line-height: 100%;
  float: left;
  margin-right: 12px;
  text-decoration: none;
  color: #000;
  padding-bottom: 2px;
  border-bottom: solid 1px #000;
}

div.content {
  margin: 20px 24px;
  float: left;
}